* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    color: #444;
    position: relative;
}
.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}
.container {
    width: 800px;
    margin: 0 auto;

    border: 1px solid red;
}
nav {
    font-size: 18px;
    text-align: center;
}
nav a:link {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}
nav a:link:last-child {
    margin-right: 0;
}
.post-header {
    margin-bottom: 40px;
}
article {
    margin-bottom: 60px;
}

aside {
    padding: 50px 0;
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    width: 500px;
}
h1,
h2,
h3 {
    color: #1098ad;
}
h1 {
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
}
h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}
h4 {
    font-size: 20px;

    text-transform: uppercase;
    text-align: center;
}
p {
    font-size: 22px;

    line-height: 1.5;
    margin-bottom: 15px;
}
#copyright {
    font-size: 12px;
}
#author {
    font-style: italic;
    font-size: 18px;
}
ul,
ol {
    margin-left: 50px;
    margin-bottom: 20px;
}
li {
    font-size: 20px;
    margin-bottom: 10px;
}
li:last-child {
    margin-bottom: 0;
}
.realted-author {
    font-size: 18px;
    font-weight: bold;
}
.related {
    list-style: none;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}
a:visited {
    color: #1098ad;
}
a:hover {
    color: green;
}

a:active {
    color: rgb(210, 30, 171);
}
.post-img {
    width: 100%;
    height: auto;
}
button {
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    right: 50px;
    /* bottom:-2px; */
    bottom: 50px;
}
h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}
h2 {
   
    position: relative;
}
h2::after {
    content: "TOP";
    font-size: 16px;
    background-color: #ffe70e;
position: absolute;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    right: -25px;
    top:-10px;
    color:#000;
}
